<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ato.mapper.FlightMapper">

 <!--   <select id="pageQuery" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort asc , create_time desc
    </select>-->

    <insert id="addFlight" useGeneratedKeys="true" keyProperty="id"><!--将主键值返回-->
        insert into flights (flight_number, airline, price, departure_airport, arrival_airport, date, departure_time, arrival_time, departure_city, arrival_city, total_tickets)
        values
        (#{flightNumber},#{airline},#{price},#{departureAirport},#{arrivalAirport},#{date},#{departureTime},#{arrivalTime},#{departureCity},#{arrivalCity},#{totalTickets})
    </insert>

    <update id="updateDelay">
        update flights
        <set>
            <if test="delay != null">delay = #{delay},</if>
            <if test="delayTime != null">delay_time = #{delayTime},</if>
            <if test="delayReason != null">delay_reason = #{delayReason},</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.ato.pojo.vo.FlightVO">
        SELECT
        id, flight_number, airline, price, departure_airport, arrival_airport, date,
        departure_time, arrival_time, departure_city, arrival_city, delay, delay_time, delay_reason
        FROM
        flights
        <where>
            <if test="airline != null and airline != ''">
                AND airline = #{airline}
            </if>
            <if test="departureAirport != null and departureAirport != ''">
                AND departure_airport = #{departureAirport}
            </if>
            <if test="arrivalAirport != null and arrivalAirport != ''">
                AND arrival_airport = #{arrivalAirport}
            </if>
            <if test="date != null">
                <!-- 如果日期不为空且是今天 -->
                <if test="date == currentDate"> <!-- 判断传入的日期是否是今天 -->
                    AND date = CURRENT_DATE()
                    AND departure_time >= DATE_ADD(NOW(), INTERVAL 2 HOUR)
                </if>
                <!-- 如果日期不为空且不是今天 -->
                <if test="date != currentDate"> <!-- 判断传入的日期是否不是今天 -->
                    AND date = #{date}
                </if>
            </if>

            <!-- 如果日期为空 -->
            <if test="date == null">
                AND date > CURRENT_DATE()
                OR (date = CURRENT_DATE() AND departure_time >= DATE_ADD(NOW(), INTERVAL 2 HOUR))
            </if>
            <if test="departureTime != null">
                AND departure_time &lt;= #{departureTime}
            </if>
            <if test="departureCity != null and departureCity != ''">
                AND departure_city = #{departureCity}
            </if>
            <if test="arrivalCity != null and arrivalCity != ''">
                AND arrival_city = #{arrivalCity}
            </if>
        </where>
        ORDER BY date ASC, departure_time ASC
    </select>

    <select id="query" resultType="com.ato.pojo.entity.Flight">
        SELECT
        id, airline, price, departure_airport, arrival_airport, date,
        departure_time, arrival_time, departure_city, arrival_city, delay, delay_time, delay_reason
        FROM
        flights
        <where>
            <if test="flightNumber != null and flightNumber != ''">
                AND flight_number = #{flightNumber}
            </if>
            <if test="date != null">
                AND date = #{date}
            </if>
        </where>
    </select>
    <select id="queryByNumberAndDate" resultType="com.ato.pojo.entity.Flight">
        SELECT
        id, airline, price, departure_airport, arrival_airport, date,
        departure_time, arrival_time, departure_city, arrival_city, delay, delay_time, delay_reason
        FROM
        flights
        where flight_number = #{flightNumber} and date = #{date}
    </select>

</mapper>