<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ato.mapper.OrderMapper">

    <insert id="saveOrder">
        insert into orders (id, user_id, flight_id, total_amount, status)
        values
        (#{id},#{userId},#{flightId},#{totalAmount}, #{status})
    </insert>

    <insert id="saveOrderPassengersBatch">
        INSERT INTO order_passenger (order_id, passenger_id)
        VALUES
        <foreach collection="orderPassengerList" item="item" index="index" separator=",">
            (#{item.orderId}, #{item.passengerId})
        </foreach>
    </insert>
    <delete id="deleteOrderById">
        delete from orders where id = #{orderId}
    </delete>
    <delete id="deletePassengerInOrder">
        delete from order_passenger where order_id = #{orderId}
    </delete>
    <select id="pageQuery" resultType="com.ato.pojo.vo.OrderPageQueryVO">
        select
            o.id as id,
            o.total_amount as totalAmount,
            o.status as status,
            f.departure_time as departureTime,
            f.arrival_time as arrivalTime,
            f.departure_airport as departureAirport,
            f.arrival_airport as arrivalAirport,
            f.departure_city as departureCity,
            f.arrival_city as arrivalCity,
            f.flight_number as flightNumber
        from
            orders o
        join
            flights f on o.flight_id = f.id
        where
            o.user_id = #{userId}
        order by
            o.create_time desc
    </select>
    <select id="getPassengers" resultType="java.lang.Long">
        SELECT passenger_id
        FROM order_passenger
        WHERE order_id = #{orderId}
    </select>

</mapper>