<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ato.mapper.PassengerMapper">

    <insert id="addPassenger" useGeneratedKeys="true" keyProperty="id"><!--将主键值返回-->
        insert into passenger (name, id_number)
        values
        (#{name},#{idNumber})
    </insert>

    <insert id="addPassengerToUser">
        insert into user_passenger (user_id, passenger_id, passenger_phonenumber)
        values
        (#{userId},#{passengerId}, #{phonenumber})
    </insert>

    <update id="updatePassenger">
        update user_passenger
        <set>
            <if test="passengerDTO.phonenumber != null">passenger_phonenumber = #{passengerDTO.phonenumber},</if>
        </set>
        where user_id = #{userId} and passenger_id = #{passengerId}
    </update>

    <delete id="deleteByIds">
        delete from user_passenger where passenger_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        AND user_id = #{userId}
    </delete>

    <select id="getAssociation" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0 AS association_exists
        FROM user_passenger
        WHERE user_id = #{userId} AND passenger_id = #{passengerId}
    </select>

    <select id="pageQueryWithPhone" resultType="com.ato.dao.vo.PassengerVO">
        SELECT
        p.id AS id,
        p.name AS name,
        p.id_number AS idNumber,
        up.passenger_phonenumber AS phoneNumber
        FROM
        passenger p
        JOIN
        user_passenger up ON p.id = up.passenger_id
        WHERE
        up.user_id = #{id}
        ORDER BY
        p.id DESC
    </select>
    <select id="getByIds" resultType="com.ato.dao.vo.OrderDetailPassengerVO">
        SELECT
        name, id_number
        FROM
        passenger
        WHERE
        id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询订单中的乘客详细信息 -->
    <select id="getPassengerDetailsByOrderIdAndUserId" resultType="com.ato.dao.dto.user.PassengerDTO">
        SELECT
        p.name,
        p.id_number,
        up.passenger_phonenumber
        FROM
        order_passenger op
        JOIN passenger p ON op.passenger_id = p.id
        JOIN user_passenger up ON op.passenger_id = up.passenger_id
        WHERE
        op.order_id = #{orderId}
        AND up.user_id = #{userId}
    </select>
</mapper>